/**
 * Custom CSS for E-Commerce Template
 * Most styles are handled by Tailwind CSS
 */


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.swiper {
    margin-left: 0 !important;
    margin-right: 0 !important;
}